@import './base.css';

#app {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  overflow-x: hidden;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}



@media (max-width: 1024px) {
  #app {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  #app {
    padding: 10px;
  }

  body {
    overflow-x: hidden;
  }
}
